Package: embedded-device-connector
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: hostapd, dnsmasq
Maintainer: Mestdagh Gerd <mestdagh.gerd@gmail.com>
Description: Embedded Device Connector
 Connect your device to wifi using the embedded's board access point, uses
 node, npm, iwlist, hostapd and dnsmasq
